*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightcyan;
}
header{
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: space-between;
}
nav{
    width: 100%;
    height: 50px;
    background: #000;
    font-family: "Roboto",sans-serif;
}
nav ul{
    list-style: none;
    position: relative;
} 
nav ul li{
    width: 150px;
    float: left;
}
nav a{
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    display: flex;
    justify-content: center;
    color:aqua;
    background: #000;
}
nav ul ul{
    position: absolute;
    visibility: hidden;
}
nav ul li:hover ul{
    visibility: visible;
}

nav a:hover{
    background: aqua;
    color:#000;
}
nav ul ul li{
    float: none;
    border-bottom: 1px solid aqua;
}
nav ul ul li a{
    background: rgb(7, 7, 7);
}
label[for="bt-menu"]{
padding: 5px;
background: #000;
color:#fff;
display: flex;
justify-content: center;
cursor: pointer;
width: 50px;
height: 50px;
}
#bt-menu{
    display: none;
}
label[for="bt-menu"]{
    display: none;
}
section{
    width: 100%;
    height: 100vh;
}
/*RESPONSIVIDADE */

@media (max-width:800px){
    nav ul li{
        width: 100%;
        float: none;
    }
    nav ul ul{
        position: static;
        overflow: hidden;
        max-height: 0;
        transition: all 0.5s;
    }
    nav ul li:hover ul{
        height: auto;
        max-height: 200px;
    }
    #bt-menu{
        display: none;
    }
    label[for="bt-menu"]{
        display: block;
    }
    #bt-menu:checked ~ nav{
        margin-left: 0;
    }
    nav{
        margin-top: 5px;
        margin-left: -100%;
        transition:  all 0.5s;
    }
}
#web{
    text-align: center;
    font-size: 50px;
}
#header1{
    text-align: center;
    font-size: 50px;
}
#text1{
    text-align: center;
    font-size: 25px;
}
#produtos{
    text-align: center;
    font-size: 60px;
}
#header2{
    text-align: center;
    font-size: 60px;
}
#text2{
    text-align: center;
    font-size: 25px;
}
#header3{
    text-align: center;
    font-size: 50px;
}
#text3{
    text-align: center;
    font-size: 25px;
}
#endereço{
    text-align: center;
    font-size: 50px;
    height: 60vh;
}
#contato{
    text-align: center;
    font-size: 25px;
    height: 30vh;
}
#numeros{
    text-align: center;
    font-size: 15px;
}
section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0;
    overflow: hidden;
}
.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}
.slider-content input{
    display: none;
}
.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}
.slide-box img{
    width: 100%;
}
.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 57%; 
    display: flex;
    justify-content: center;
}
.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid black;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px; 

}
.nav-manual .manual-btn:hover{
    background-color: black;
}
#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3 {
    background-color:black;
} 
#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}
footer{
    width: 100%;
    height: 80px;
    background-color: black;
}
footer h5{
    display: flex;
    justify-content: center;
    color: white;
}
#logo{
    text-align: center;
    color: rgb(30, 31, 31);
    text-decoration:underline;
    font-size: 90px;
    margin-top: -85px;
    margin-left: 100px;
}
.container {
    display: flex;
    justify-content: center;
}

.card {
    width: 300px;
    border: 1px solid #0e0d0d;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    height: 50vh;
    background-color: white;
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card h2 {
    margin: 0;
    font-size: 20px;
}

.card p {
    margin: 5px 0;
}
.card button{
    width: 200px;
    padding: 10px;
    border-radius: 3px;
    background-color: black;
    color: white;
}
.card button:hover{
    background-color: aqua;
    cursor: pointer;
    color: black;
}
#pets{
       text-align: center;
    font-size: 60px;
}